---
layout: style
---

.section_ginop {
    position: relative;
}

.section_ginop img {
    position: absolute;
    top: 6vh;
    right: 0vh;
    width: 35vh;
}

.intro-ginop {
    margin: auto;
    display: block;
    width: 50vw;
    padding-top: 5vh;
}

@media(max-width: 1499px) {
    .intro-ginop {
        width: 100vw;
    }
}

.main_ginop {
    position: relative;
}

.main_ginop img {
    position: absolute;
    bottom: 0vh;
    right: 0vh;
    width: 35vh;
}
