<!-- Page content -->

{% case page.ref %}

{% when "intro" %}

  {% for page in main_sections %}

  {% include data/content/general.html %}

  {% endfor %}
{% when "contact" %}

  {% include data/contact.html %}

{% else %}

  {% case page.projects %}

  {% when true %}

    <!-- Current projects -->

    <!-- Current project content -->

              <div class="container">
                  <div class="row">
                      <div class="col-lg-12 text-center">
                        <h2 class="section-heading">{{ section.title }}</h2>
                      </div>
                  </div>
              </div>

    <!-- Archived projects -->
    {% assign archived_projects = site.posts | where:"lang",page.lang | where:"archived",true %}

    <!-- Archived project sections -->
    <div class="row">
    {% for post in archived_projects %}

    {% include data/content/project_icons.html %}

    {% endfor %}
    </div>


    {% for post in archived_projects %}

    <!-- Archived project content -->
    {% include data/content/project_modals.html %}

    {% endfor %}

  {% else %}

    {% include data/content/general.html %}

{% endcase %}
{% endcase %}
