<!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">{% if page.lang == "hu" %}{{ site.data.strings.titles.main.hu }}{% elsif page.lang == "en"%}{{ site.data.strings.titles.main.en }}{% endif %}</div>
                    {% assign pages=site.pages | where:"ref", page.ref | sort: 'lang' %}
                    <br/>
                <img src="/assets/img/hics-logo.png" alt="HICS logo">
            </div>
        </div>
    </header>
