{% assign sorted_pages = site.pages | sort:"order" | where:"lang",page.lang %}
{% for section in sorted_pages %}
{% if section.title %}
{% if section.ref != "intro" %}
<!-- Page section -->
<section id="{{ section.ref }}" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
              <h2 class="section-heading">{{ section.title }}</h2>
            </div>
        </div>
    </div>
</section>

{% endif %}

{% include data/content.html%}

{% endif %}
{% endfor %}
