{% if page.ref == "intro" %}<h2 class="section-heading text-center" id="{{ page.ref }}">{{ page.title }}</h2>{% endif %}
<div class="portfolio-modal" id="{{ section.order }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body{% if page.ref == "intro" %} intro-logos{%- endif -%}">
                      {{ page.content | markdownify }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
