<div class="container">
  <div class="row">
  {% assign posts=site.posts | where:"lang", page.lang %}
  {% for post in posts %}
    <div class="col-md-4 col-sm-6 speakers-item">
        <a href="#{{ post.name }}" class="speakers-link" data-toggle="modal">
            <div class="speakers-hover">
                <div class="speakers-hover-content">
                    <i class="fa fa-plus fa-3x"></i>
                </div>
            </div>
            <img src="sections/projects/{{ post.img }}" class="img-responsive img-centered" alt="">
        </a>
        <div class="speakers-caption">
            <h4>{{ post.title }}</h4>
            <p class="text-muted">{{ post.subtitle }}</p>
        </div>
    </div>
    {% endfor %}
  </div>
</div>
